

body {
  background-color: red;


}


  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    list-style-type: none;


    }

  #navbar1 {
    padding-top: 20px;
  }

  a,  :visited, :active, :focus{ 
    outline: 0;
    border: 0;
    color: white;

}


h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;

  display: inline-block;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

#footer {
  padding: 10px;
  
}